@using MvcStok.Models.Entity
@model List<Tbl_Musteri>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using (Html.BeginForm("Index", "Musteriler", FormMethod.Get))
{
    <p>
        Aranacak Müşteri Adı: @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>Müsteri id</th>
        <th>Müşteri Ad</th>
        <th>Müşteri Soyad</th>
    </tr>
    <tbody>
        @foreach(var m in Model)
            {
                <tr>
                    <td>@m.Musteriid</td>
                    <td>@m.Musteriad</td>
                    <td>@m.Musterisyad</td>
                    <td>
                        <a href="/Musteriler/Sil/@m.Musteriid" class="btn btn-danger">Sil</a>
                        <a href="/Musteriler/MusteriGetir/@m.Musteriid" class="btn btn-success">Güncelle</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
<a href="MusteriEkle" class="btn btn-primary"> musteriekle</a>
