
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<form method="post" class="form-group">
    <div>
        <label>Müşteri Adı</label>
        <input type="text" class="form-control" name="Musteriad" />
    </div>
    <div>
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" name="Musterisoyad" />
    </div>
    <div>
        <button class="btn btn-info">Kaydet</button>
    </div>
</form>
