
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı:</label>
        <input type="text" class="form-control" name="Kategoriad" />
    </div>
    <div>
        <button id="btn_kategori_ekle" class="btn btn-info">Kategori Ekle</button>
    </div>
</form>
<script>
    $('#btn_kategori_ekle').click(function () {
        alert('Kategori Ekleme Gerçekleşti.')
    })
</script>

